$primary-color: #17141D;
$accent-color: #fff;
$background-color: #efefef;
$background-color-opacity: #efefef5e;

$card-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
